<launch>

    <!-- Robot pose -->
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.2"/>
    <arg name="roll" default="0"/>
    <arg name="pitch" default="0"/>
    <arg name="yaw" default="0"/>
    <arg name="urdf_robot_file" default="$(find aibo_description)/urdf/aibo_kinect.urdf" />
    <arg name="robot_name" default="aibo_kinect" />

 
    <include file="$(find spawn_robot_tools_pkg)/launch/spawn_robot_urdf.launch">
        <arg name="x" value="$(arg x)" />
        <arg name="y" value="$(arg y)" />
        <arg name="z" value="$(arg z)" />
        <arg name="roll" value="$(arg roll)"/>
        <arg name="pitch" value="$(arg pitch)"/>
        <arg name="yaw" value="$(arg yaw)" />
        <arg name="urdf_robot_file" default="$(arg urdf_robot_file)" />
        <arg name="robot_name" default="$(arg robot_name)" />
    </include>
    
    <node name="robot_state_publisher_aibo_tc" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen">
            <param name="publish_frequency" type="double" value="5.0" />
    </node>


</launch>